{% extends "base.html.twig" %}

{% block title %}{{ "Crypto Stats - Home"|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="row">
        {{ render(controller('App\\Controller\\StatsController::balance')) }}
        {{ render(controller('App\\Controller\\StatsController::exchanges')) }}
    </div>

    <div class="row">
        {{ render(controller('App\\Controller\\StatsController::wallets')) }}

        <div class="col-lg-6 col-12">
            <div class="row">
                {{ render(controller('App\\Controller\\StatsController::fiatAndStable')) }}
                {{ render(controller('App\\Controller\\TrendingController::trendingTopics')) }}
            </div>
        </div>

    </div>

{% endblock %}
