{% extends "base.html.twig" %}

{% block title %}{{ "Crypto Stats - Home"|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="row">
        {{ render(controller('App\\Controller\\StatsController::statsGlobal')) }}
    </div>

    <div class="row">
        {{ render(controller('App\\Controller\\StatsController::totalCrypto')) }}
        {{ render(controller('App\\Controller\\StatsController::numberOfCryptoCoinBlock')) }}
        {{ render(controller('App\\Controller\\StatsController::numberOfStableCoinBlock')) }}
        {{ render(controller('App\\Controller\\StatsController::numberOfFiatCoinBlock')) }}
    </div>

    <div class="row">
        <div class="col-sm-12" style="margin: 10px 0 10px 0">
            <h3>{{ "Exchanges"|trans }}</h3>
        </div>
        {{ render(controller('App\\Controller\\StatsController::statsByExchange', {'exchange': 'binance'})) }}
        {{ render(controller('App\\Controller\\StatsController::statsByExchange', {'exchange': 'bitvavo'})) }}
        {{ render(controller('App\\Controller\\StatsController::statsByExchange', {'exchange': 'kukoin'})) }}
        {{ render(controller('App\\Controller\\StatsController::statsByExchange', {'exchange': 'coinbase'})) }}
        {{ render(controller('App\\Controller\\StatsController::statsByExchange', {'exchange': 'gateio'})) }}
    </div>

    <div class="row">
        <div class="col-sm-12" style="margin: 10px 0 10px 0">
            <h3>{{ "Data"|trans }}</h3>
        </div>
        {{ render(controller('App\\Controller\\StatsController::statsByMarket')) }}
    </div>

{% endblock %}
