{% extends "base.html.twig" %}

{% block title %}{{ "Crypto Stats - Home"|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="row">
        {{ render(controller('App\\Controller\\StatsController::balanceProgressBar')) }}
    </div>

    <div class="row">
        {{ render(controller('App\\Controller\\StatsController::balance')) }}
        {{ render(controller('App\\Controller\\StatsController::exchanges')) }}
    </div>

    <div class="row">
        {{ render(controller('App\\Controller\\StatsController::wallets')) }}
        {{ render(controller('App\\Controller\\TrendingController::trendingTopics')) }}
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: none;">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <strong>{{ "Add transaction"|trans }}</strong>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                            <a class="nav-link active" id="deposit-tab" data-toggle="tab" href="#deposit">{{ "Deposit"|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="Withdraw-tab" data-toggle="tab" href="#Withdraw">{{ "Withdraw"|trans }}</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="add_transaction_content">
                        <div class="tab-pane fade show active" id="deposit" role="tabpanel" aria-labelledby="deposit-tab">
                            {{ form_start(depositForm)}}
                            <div class="deposit-form-input">
                                {{ form_widget(depositForm.amount) }}
                            </div>
                            <div class="deposit-form-input">
                                {{ form_widget(depositForm.symbol) }}
                            </div>
                            <div class="deposit-form-input">
                                {{ form_widget(depositForm.exchange) }}
                            </div>
                            <div class="deposit-form-input">
                                {{ form_widget(depositForm.added) }}
                            </div>
                            <div class="deposit-form-input">
                                <button type="submit" class="btn btn-block btn-primary">{{ "Add"|trans }}</button>
                            </div>
                            {{ form_end(depositForm) }}
                        </div>
                        <div class="tab-pane fade" id="Withdraw" role="tabpanel" aria-labelledby="Withdraw-tab">
                            {{ form_start(withdrawForm)}}
                            <div class="withdraw-form-input">
                                {{ form_widget(withdrawForm.amount) }}
                            </div>
                            <div class="withdraw-form-input">
                                {{ form_widget(withdrawForm.symbol) }}
                            </div>
                            <div class="withdraw-form-input">
                                {{ form_widget(withdrawForm.moved_to) }}
                            </div>
                            <div class="withdraw-form-input">
                                {{ form_widget(withdrawForm.date) }}
                            </div>
                            <div class="withdraw-form-input">
                                <button type="submit" class="btn btn-block btn-primary">{{ "Add"|trans }}</button>
                            </div>
                            {{ form_end(withdrawForm) }}
                        </div>

                    </div>
                </div>
                <div class="modal-footer" style="border-top: none;">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
