<div class="card border-left-success shadow h-80 investment-list">
    <div class="card-header">
        {{ "Investment list"|trans }}
    </div>
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <table class="table table-md table-responsive table-striped">
                <thead>
                <tr>
                    <td>{{ "Nº"|trans }}</td>
                    <td>{{ "Amount"|trans }}</td>
                    <td>{{ "Currency"|trans }}</td>
                    <td>{{ "Exchange"|trans }}</td>
                    <td>{{ "Added"|trans }}</td>
                    <td>&nbsp;</td>
                </tr>
                </thead>
                <tbody>
                {% for investment in investments %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ investment.amount|number_format(2) }}</td>
                        <td>{{ investment.currency|upper }}</td>
                        <td>{{ investment.exchange }}</td>
                        <td>{{ investment.added|date('Y-m-d') }}</td>
                        <td>
                            <a title="{{ "Remove"|trans }}" href="{{ path('investment_remove_amount', {'investment': investment.id}) }}">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

