<div class="col-sm-12 col-md-6">
    <div class="card border-left-primary shadow h-100">
        <div class="card-header">
            {{ "Wallet list"|trans }}
        </div>
        <div class="card-body">
            <table id="table-data" data-order='[[ 4, "desc" ]]' class="table table-md table-striped">
                <thead>
                <tr>
                    <td>{{ "Crypto"|trans }}</td>
                    <td>{{ "Amount"|trans }}</td>
                    <td>{{ "inOrder"|trans }}</td>
                    <td>{{ "USD"|trans }}</td>
                    <td>{{ "% Portfolio"|trans }}</td>
                </tr>
                </thead>
                <tbody>
                {% for key, item in wallets|filter(item => item.amount|number_format(8) > 0 or item.inOrder|number_format(8) > 0) %}
                    <tr>
                        <td>{{ item._id|upper}}</td>
                        <td>{{ item.amount|number_format(8) }}</td>
                        <td>{{ item.inOrder|number_format(8) }}</td>
                        <td>{{ (item.totalUSD + item.inOrderUSD)|number_format(2) }}</td>
                        <td>{{ item.percentage|number_format(2) }}%</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
